div#principal {
    background: #ffffff;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    margin-bottom: 40px;
    padding-right: 1px;
    width: 1200px;
}
#tablaAsignaciones {
    width: 1100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#asignacion {
    background-color: #d33c43;
    width: 160px;
    height: 130px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#datos1 {
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 4px;
}
#datos2, #datos3 {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}